// body {
//   font-family: Arial, sans-serif;
//   background-color: #f0f4f8;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   margin: 0;
// }

.studentListsOver {
  z-index: 99999 !important;
  margin-top: -16px;
}
nb-list-item{
  z-index: 99999 !important;
}

.std-img {
  width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid red;
}

.admission-confirmation {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  text-align: center;
}

.header {
  background-color: #778ca3;
  color: #fff;
  padding: 15px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.content {
  padding: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.details h2 {
  margin: 10px 0;
  color: #333;
}

.details p {
  margin: 5px 0;
  color: #555;
}

.active {
  color: #28a745;
  font-weight: bold;
}

.print-button {
  margin: 20px 0;
}

.print-button button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.print-button button:hover {
  background-color: #ff4757;
}
