<!-- <nb-card size="small">
  <nb-card-header>
    <div  >
      <span>{{ title }}</span>
      <button nbButton ghost (click)="onCancel()" class="close-button">
        <nb-icon class="ms-4" icon="close-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="card-body"> {{ message }}</div>



  </nb-card-body>

</nb-card> -->

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-10"> <h6 class="py-0">{{ message }}</h6> </div>
      <div class="col-md-2"> <button  status="danger" nbButton ghost (click)="onCancel()" class="close-button">
        <nb-icon class="ms-4 " icon="close-outline"></nb-icon>
      </button></div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <!-- <p class="h6">{{message}}</p> -->
      </div>
      <div class="col-md-6">
        <button nbButton status="primary" (click)="onConfirm()">Yes</button>
      </div>
      <div class="col-md-6">
        <button nbButton status="danger" class="mx-4" (click)="onCancel()">No</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
