// / card.component.css /

// / Common styles /
.card-container {
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details {
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.icon-circle,
.icon-circle-add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #949faa;
  cursor: pointer;
}

.icon-circle:hover,
.icon-circle-add:hover {
  background-color: #666b70;
}

.empty-state {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

// / Responsive styles /
@media (max-width: 600px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 400px) {
  .card {
    width: calc(100% - 20px);
  }
}
