<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>Add new students</nb-card-header>
  <nb-card-body>
    <form [formGroup]="StudentBasicForm">
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Basic details</ng-template>
          <!-- <hr class="mt-0 pt-0"> -->
          <div class="row show-grid">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputFirstName" class="label"
                      >Student Name</label
                    >
                    <label for="inputEmail" class="Mandatory">*</label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputFirstName"
                      placeholder="Name of Student"
                      formControlName="StudentName"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputLastName" class="label"
                      >Registration</label
                    >
                    <label for="inputEmail" class="Mandatory">*</label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputLastName"
                      placeholder="Registration No"
                      formControlName="RegistrationNo"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputLastName" class="label"
                      >Select Class</label
                    >

                    <!-- classLists -->
                    <label for="inputEmail" class="Mandatory">*</label>
                    <nb-select  fullWidth placeholder="Select"
                    formControlName="Gender">
                        <nb-option *ngFor="let item of classLists" [value]="item.id">
                          {{ item.className }}</nb-option>

                      </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Picture</label>
                    <input
                      type="file"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      (change)="onFileSelected($event)"
                    />
                    <label class="Mandatory">Max Size 100Kb</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label"
                      >Date of Admission</label
                    >
                    <label for="inputEmail" class="Mandatory">*</label>
                    <input
                      type="date"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Date of Admission"
                      formControlName="DateOfAdmission"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label"
                      >Discount In Fee</label
                    >
                    <label for="inputEmail" class="Mandatory">*</label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Discount In Fee"
                      formControlName="DiscountInFee"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <!-- <img [src]="this.imageUrl" alt="image "/> -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <button
                      class="btn-update mt-4"
                      (click)="UploadImage()"
                      class="btn-yes"
                    >
                      Upload image
                    </button>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label"
                      >Mobile No. for SMS/Whatsapp</label
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Mobile No. for SMS/Whatsapp"
                      formControlName="MobileNoWhatsapp"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button nbStepperPrevious class="btn-reset">prev</button>
          <button nbStepperNext class="btn-save">next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Details</ng-template>
          <div class="row show-grid">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputFirstName" class="label"
                      >Date of Birth</label
                    >
                    <input
                      type="date"
                      nbInput
                      fullWidth
                      id="inputFirstName"
                      placeholder="mm/dd/yyyy"
                      formControlName="DOB"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputLastName" class="label"
                      >Student Birth Form ID / NIC</label
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputLastName"
                      placeholder="Student Birth Form ID / NIC"
                      formControlName="StudentBirthForm"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputLastName" class="label"
                      >Orphan Student</label
                    >
                    <nb-select  fullWidth placeholder="Select"
                    formControlName="isOrphan">
                        <nb-option   [value]="1">
                          Yes</nb-option>
                        <nb-option   [value]="2">
                          No</nb-option>

                      </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <!-- <div class="form-group"> -->
                    <label for="inputEmail" class="label">Gender</label>
                    <nb-select  fullWidth placeholder="Select"
                    formControlName="Gender">
                        <nb-option *ngFor="let item of gender" [value]="item.id">
                          {{ item.name }}</nb-option>

                      </nb-select>
                  <!-- </div> -->
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label">Cast</label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Cast"
                      formControlName="Cast"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label">OSC</label>

                    <nb-select  fullWidth placeholder="Select"
                    formControlName="OSC">
                        <nb-option   [value]="1">
                          Yes</nb-option>
                        <nb-option   [value]="2">
                          No</nb-option>

                      </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label"
                      >Any Identification Mark?</label
                    >
                    <input
                      type="email"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Any Identification Mark?"
                      formControlName="IdentificationMark"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label"
                      >Previous School</label
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Previous School"
                      formControlName="PreviousSchool"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputWebsite" class="label">Religion</label>
                    <nb-select  fullWidth
                    placeholder="Religion"
                    formControlName="Religion"
                    >

                        <nb-option  *ngFor="let item of religion" [value]="item.id">
                          {{ item.name }}</nb-option>

                      </nb-select>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Blood Group</label>
                    <nb-select  fullWidth
                    placeholder="Blood Group"
                      formControlName="BloodGroup"
                    >

                        <nb-option   *ngFor="let item of bloodGroup" [value]="item.id">
                          {{ item.name }}</nb-option>

                      </nb-select>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label"
                      >Previous ID / Board Roll No</label
                    >
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Previous ID / Board Roll No"
                      formControlName="BoardRollNo"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Select Family</label>
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Address"
                      formControlName="Family"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label"
                      >Disease If Any?</label
                    >
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Disease If Any?"
                      formControlName="Disease"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label"
                      >Any Additional Note</label
                    >
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Any Additional Note"
                      formControlName="AdditionalNote"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Total Siblings</label>
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Total Siblings"
                      formControlName="TotalSiblings"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Address</label>
                    <input
                      type="textarea"
                      nbInput
                      fullWidth
                      id="inputEmail"
                      placeholder="Address"
                      formControlName="Address"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group"></div>
              </div>
            </div>
          </div>
          <button nbStepperPrevious class="btn-reset">prev</button>
          <button nbStepperNext class="btn-save">next</button>
        </nb-step>
        <nb-step label="Father info">
          <div class="row show-grid">
            <div class="col-12 col-md-12">
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputFirstName" class="label"
                          >Father Name</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputFirstName"
                          placeholder="Father Name"
                          formControlName="FatherName"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label"
                          >Father National ID</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputLastName"
                          placeholder="Father National ID"
                          formControlName="FatherNationalID"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label"
                          >Occupation</label
                        >
                        <nb-select  fullWidth
                        placeholder="Occupation"
                          formControlName="FOccupation"
                        >
                            <nb-option *ngFor="let item of occupationType" [value]="item.id">
                              {{ item.name }}</nb-option>

                          </nb-select>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Education</label>
                        <nb-select  fullWidth
                        placeholder="Education"
                          formControlName="FEducation"
                        >
                            <nb-option *ngFor="let item of educationType" [value]="item.id">
                              {{ item.name }}</nb-option>

                          </nb-select>

                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label"
                          >Mobile No</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Mobile No"
                          formControlName="FMobileNo"
                        />
                      </div>
                    </div>
                    <!-- <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label"
                          >Profession</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Profession"
                          formControlName="FProfession"
                        />
                      </div>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group"></div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group"></div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label">Income</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Income"
                          formControlName="FIncome"
                        />
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <button nbStepperPrevious class="btn-reset">prev</button>
          <button nbStepperNext class="btn-save">next</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Mother info</ng-template>
          <div class="row show-grid">
            <div class="col-12 col-md-12">
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputFirstName" class="label"
                          >Mother Name</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputFirstName"
                          placeholder="Mother Name"
                          formControlName="MotherName"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label"
                          >Mother National ID</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputLastName"
                          placeholder="Mother National ID"
                          formControlName="MotherNationalID"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label"
                          >Occupation</label
                        >
                        <nb-select  fullWidth
                        placeholder="Occupation"
                          formControlName="MOccupation"
                        >
                            <nb-option *ngFor="let item of occupationType" [value]="item.id">
                              {{ item.name }}</nb-option>

                          </nb-select>


                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Education</label>
                        <nb-select  fullWidth
                        placeholder="Education"
                          formControlName="MEducation"
                        >
                            <nb-option *ngFor="let item of educationType" [value]="item.id">
                              {{ item.name }}</nb-option>

                          </nb-select>

                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label"
                          >Mobile No</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Mobile No"
                          formControlName="MMobileNo"
                        />
                      </div>
                    </div>
                    <!-- <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label"
                          >Profession</label
                        >
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Profession"
                          formControlName="MProfession"
                        />
                      </div>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group"></div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group"></div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputWebsite" class="label">Income</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          id="inputWebsite"
                          placeholder="Income"
                          formControlName="MIncome"
                        />
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <button nbStepperPrevious class="btn-reset">prev</button>
          <button nbStepperNext class="btn-save">Submit</button>
        </nb-step>
        <nb-step [label]="labelFive">
          <ng-template #labelFive>Registration status</ng-template>

          <button nbStepperPrevious class="btn-reset">prev</button>
          <button nbStepperNext class="btn-save" (click)="onSubmit()">Submit</button>
        </nb-step>
      </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>
