<!--

<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <div class="row ">
          <div class="col-lg-7 col-md-7 col-sm-12"></div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="card m-5 p-5">
              <form [formGroup]="loginform" >

                <input
                  nbInput
                  fullWidth
                  type="text"
                  placeholder="Username"
                  name="username"
                  formControlName="username"
                />
                <div *ngIf="loginform.get('username').invalid && (loginform.get('username').dirty || loginform.get('username').touched)">
                  <span class="text-danger">Enter a valid username</span>
                </div>

                <input
                  nbInput
                  fullWidth
                  class="my-2"
                  type="password"
                  placeholder="Password"
                  name="password"
                  formControlName="password"
                />
                <div *ngIf="loginform.get('password').invalid && (loginform.get('password').dirty || loginform.get('password').touched)">
                  <span class="text-danger">Enter a valid password</span>
                </div>
                <button nbButton class="float-left" [disabled]="this.loginform.invalid"   status="primary" (click)="login()">Login</button>
              </form>
              <p><a href="#">Forgot username or password?</a></p>
              <p><a href="#">Create a new account</a></p>
            </div>

          </div>
        </div>


      </nb-card-body>
    </nb-card>


  </nb-layout-column>
 </nb-layout> -->
 <div *ngIf="isLanding">
  <ngx-school-landing-page></ngx-school-landing-page>
 </div>
 <div class="login-page">
  <div class="login-container">
    <div class="quote-section">
      <h1>SCRM</h1>
      <p>"A school management system"</p>
      <!-- <img src="assets/graduation.png" alt="Graduation cap and diploma"> -->
      <i
      class="fa fa-graduation-cap"
      style="font-size: 48px; color: rgb(218, 217, 223)"
    ></i>
    </div>
    <div class="login-section">
      <div class="login-box">
        <h2>I'm a Admin</h2>
        <form [formGroup]="loginform" (ngSubmit)="login()">
          <div class="form-group">
            <input id="username" formControlName="username" type="text" placeholder="Enter Your User Name" class="form-control" />
            <!-- <div *ngIf="submitted && formControls.username.errors" class="error-message">
              <div *ngIf="formControls.username.errors.required">Username is required</div>
            </div> -->
          </div>
          <div class="form-group">
            <input id="password" formControlName="password" type="password" placeholder="Password" class="form-control" />
            <!-- <div *ngIf="submitted && formControls.password.errors" class="error-message">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div> -->
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Sign In</button>
          </div>
        </form>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <a href="#" class="new-user">New User? Sign Up</a>
      </div>
    </div>
  </div>
</div>
