<!--

<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <div class="row ">
          <div class="col-lg-7 col-md-7 col-sm-12"></div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="card m-5 p-5">
              <form [formGroup]="loginform" >

                <input
                  nbInput
                  fullWidth
                  type="text"
                  placeholder="Username"
                  name="username"
                  formControlName="username"
                />
                <div *ngIf="loginform.get('username').invalid && (loginform.get('username').dirty || loginform.get('username').touched)">
                  <span class="text-danger">Enter a valid username</span>
                </div>

                <input
                  nbInput
                  fullWidth
                  class="my-2"
                  type="password"
                  placeholder="Password"
                  name="password"
                  formControlName="password"
                />
                <div *ngIf="loginform.get('password').invalid && (loginform.get('password').dirty || loginform.get('password').touched)">
                  <span class="text-danger">Enter a valid password</span>
                </div>
                <button nbButton class="float-left" [disabled]="this.loginform.invalid"   status="primary" (click)="login()">Login</button>
              </form>
              <p><a href="#">Forgot username or password?</a></p>
              <p><a href="#">Create a new account</a></p>
            </div>

          </div>
        </div>


      </nb-card-body>
    </nb-card>


  </nb-layout-column>
 </nb-layout> -->

 <div class="background">
  <div class="container">
      <div class="login-box">
          <h1>Welcome to SCRM</h1>
          <h2>School Login</h2>
          <input type="text" placeholder="School ID" id="school-id">
          <a href="#">Find my school id</a>
          <div class="buttons">
              <button class="admin-btn">Admin</button>
              <button class="teacher-btn">Teacher</button>
              <button class="student-btn">Student</button>
          </div>
          <div class="links">
              <a href="#">Quick Start Guide</a>
              <a href="#">Support Page</a>
          </div>
      </div>
  </div>
  <footer>
      <p>Essential Skills © 2019 - Support: 1-800-753-3727</p>
  </footer>
</div>
