<p>project-admin-dashboard works!</p>


<div class="card">{{list|json}}</div>

   <div class="card">
    <div class="card-header">Buttons</div>
    <div class="card-body">
      <h4 class="card-title"> all buttons</h4>
      <p class="card-text">Text</p>
      <button class="btn-save">save</button>
      <button class="btn-reset">reset</button>
      <button class="btn-search">search</button>
      <button class="btn-cancel">cancel</button>
      <button class="btn-update">update</button>
      <button class="btn-edit">edit</button>
      <button class="btn-yes">yes</button>
      <button class="btn-no">no</button>
      <button class="btn-save">save</button>
      <button class="btn-save">save</button>
    </div>
    <div class="card-footer text-muted">Footer</div>
  </div>
